@import "./variables";

h1{
	font-size: $basicFontSize * 6;
}
h2{
	font-size: $basicFontSize * 5;
}
h3{
	font-size: $basicFontSize * 4;
}
h4{
	font-size: $basicFontSize * 3;
}
h6{
	font-size: $basicFontSize * 2;
}

body{
	font-family: 'Inter', sans-serif;
}

.key{
  color: rgb(78, 78, 78);
  &.success{
    color: #eb4d4b;
  }
}

body{
	background-color: $blue;
}

.container{
	width: $bodyWidth;
	margin: 0 auto;
	max-width: 90%;
}